<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Category 보기</title>
    <style>
        button a { text-decoration: none; color:inherit;}
    </style>
</head>
<body>
<form id="form" name="form" method="post" action="/catweb/category_update" th:object="${categoryDto}">
    <input type="number" id="id" th:field="*{id}" readonly/>
   <input type="text" id="name" th:field="*{name}" />
    <p><input type="submit" value="수정"/>
        <input type="reset" value="취소"/>
        <button><a th:href="@{/catweb/category_old_delete(id=*{id})}">삭제</a></button></p>
</form>
</body>
</html>